spawn-at-startup "waybar"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "swaync"
spawn-at-startup "fcitx5"

spawn-at-startup "awww-daemon"
spawn-sh-at-startup "sleep 0.5 && awww img $HOME/.config/niri/wallpapers/stairway_window_night.jpg"

spawn-sh-at-startup "bongocat --config $HOME/.config/bongocat.conf --watch-config"

